.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://i.scdn.co/image/ab67616d0000b2735c1006595ae973f763d4f5ed');
}
.button {
  top: 150px;
  left: 710px;
  position: absolute;
}
.button1 {
  top: 350px;
  left: 710px;
  position: absolute;
}
.button2 {
  top: 10px;
  left: 25px;
  width: 91px;
  height: 41px;
  position: absolute;
  align-self: flex-start;
}
.text {
  top: 100px;
  left: 250px;
  width: 300px;
  height: 35px;
  position: absolute;
  font-size: 20px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  background-color: var(--dl-color-gray-white);
}
.text1 {
  top: 250px;
  left: 250px;
  width: 300px;
  height: 35px;
  position: absolute;
  font-size: 20px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  background-color: var(--dl-color-gray-white);
}
.textinput {
  top: 100px;
  left: 600px;
  width: 280px;
  z-index: 100;
  position: absolute;
  border-radius: 0px;
}
.textinput1 {
  top: 250px;
  left: 600px;
  width: 280px;
  position: absolute;
}
.textinput2 {
  top: 300px;
  left: 600px;
  width: 280px;
  position: absolute;
}
.button3 {
  top: 500px;
  left: 250px;
  color: #ffffff;
  position: absolute;
  background-color: #ff0000;
}
