.textGradient{
  background: linear-gradient(30deg, #ffffff 45%, #6793bd 100%);  
}
.textGradient2{
  background: linear-gradient(30deg, #000000 45%, #6793bd 100%);  
}

.HeaderGradient{
  background: linear-gradient(30deg, #c3d9ee 45%, #6793bd 100%);  
}

.textBoxRounded{
  border-radius: 0px 30px 30px 0px;
  height:25px;
  width:140px;
}


.search_icon{
  border-radius: 20px 0px 0px 20px;
  background: #ffffff;
    color: rgb(0, 0, 0);
    width:40px;
    height:25px;
}

.search_icon:hover{
  background-color: #6793bd;
}


/* animation for header components */
.pulseAccount{
    animation: HeaderAnim 1s linear 0s 1 normal none;
    animation-fill-mode: both;
}
.pulseCollection{
    animation: HeaderAnim 1s linear 0.25s 1 normal none;
    animation-fill-mode: both;
}
.pulseSearch{
    animation: HeaderAnim 1s linear 0.5s 1 normal none;
    animation-fill-mode: both;
}
.pulseUpload{
    animation: HeaderAnim 1s linear 0.75s 1 normal none;
    animation-fill-mode: both;
}
@keyframes HeaderAnim {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateY(-45px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateY(-24px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateY(-12px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateY(-6px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateY(-4px);
    }
  
    25%,
    55%,
    75%,
    87% {
      animation-timing-function: ease-out;
      transform: translateY(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0px);
    }
  }