@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*This sets the starry background*/
.App {
  overflow: hidden; /* Hide scrollbars */
  background-color: black;
  background-image: url("./assets/starBack.png");
  background-repeat: no-repeat, repeat;
  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 20px 20px;
  max-width: 960px;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 auto;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.logo {
  max-width: 120px;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.galleryUl {
  display: flex;
  flex-wrap: wrap;
}

.galleryLi {
  height: 40vh;
  flex-grow: 1;
}

.galleryLi img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  padding: 5px 5px;
}

.galleryLi img:hover {
  transform: scale(1.02);
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

.todayGallery {
  text-align: center;
  color: white;
  padding: 75px;
}

.post {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: rgb(17, 10, 44);
  max-width: 700px;
  border: 1px solid lightgray;
  margin-bottom: 200px;
}

.post:hover {
  transform: scale(1.08);
}

.post__piece {
  width: 100%;
  object-fit: contain;
  color: white;
  border-top: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
  color: white;
}

.post__bottom {
  display: flex; /*make into a row */
  align-items: center;
  padding: 20px;
  opacity: 1;
}

.post__avatar {
  margin-right: 15px;
}

.post__commentBox {
  color: black;
  display: flex;
  
}

.post__input {
  color: black;
  flex: 1;
  border: none;
  padding: 10px;
}

.post__button {
  color: black;
  max-width: 70px;
}

.post__comments {
  color: white;
  padding: 20px;
}
